<main>
    <h1>Posts</h1> 
    <section>
        {{#if havePosts}}
            {{#each posts}}
            <article>
                <h3>Name: {{ post.name }}</h3>
                <div>Body: {{ post.description }}</div>
                <div>Category: {{ post.categories }}</div>
                <div>Tags: {{ post.tags }}</div>
                <div>Author: {{ post.author }}</div>
            </article>
            {{/each}}
        {{else}}
            <div>Nothing Found</div>
        {{/if}}
    </section>
</main>
